main .page-title {
  border-bottom: 0;
}

.hidden-title {
  .pane-title {
    display: none;
  }
}

h2.pane-title {
  margin-top: 0;
  line-height: 1.5em;
}

.panel-pane {
  min-height: 300px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.field-name-field-background {
  display: none;
}

.pane-title {
  text-align: center;
}

.field-label {
  display: none;
}

.field-items {
  p {
    margin-top: $vertical-spacing;
    margin-bottom: $vertical-spacing;
  }
}
