.front {
  main {
    display: block;
    margin: 0px;
    padding: 0px;
    border: none;
    line-height: 1.5;

    .page-title  {
      text-align: center;
      margin-top: 75px;

      h1 {
        font-size: 2.5em;
      }
    }
  }

  .page {
    width: 100%;
    max-width: 100%;
  }

  .western-header {
    .western-logo {
      display: block;

      a {
        display: block;
        float: none;
        margin-bottom: 0;
      }
    }
  }

  .western-header nav {
    z-index: 1;
  }

  .site-header {
    float: none;

    .site-name {
      display:none;
    }
  }

  .main-nav {
    padding: 0;
  }

  .content {
    width: 100vw;
    font-weight: 300;
    font-size: 1.2em;

    p {
      max-width: 1080px;
      margin: $vertical-spacing auto;
      padding: 0 $vertical-spacing;
    }

    h2 {
      font-size: 2em;
    }
  }
}

@include breakpoint($display-large) {
  .front {
    .western-header {
      width: 100%;
      height: 60px;
      background: rgba(255,255,255,0.8);
      border-bottom: 6px solid #0083D6;

      .center-content {
        position: relative;
        height: 60px;
      }

      nav {
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
        top: auto;
        left: auto;
        margin-top: 0;
      }

      .western-quick-links,
      .western-search {
        display: inline-block;
      }
    }

    .main-nav {
      position: relative;
      top:31px;
      z-index: 1;
      max-width: 1080px;
      margin: 0 auto;
      margin-top: -71px;
      min-height: 71px;
      float: none;
    }

    .region-navigation.fixed-menu-active {
      position: fixed;
      z-index: 1;
      max-width: 1080px;
      width: 100%;
      top: 0;
      margin: 0 auto;
    }
  }

  .frontpage-panel-wrapper > div {
    max-width: 1080px;
    margin: 0 auto;
  }
}
