.site-name {
  display: block;
  clear: left;
  text-align: left;

  a {
    color: white;
  }
}

.center-content {
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
}

.header-row {
  padding-top: 20px;
}

.splash-container {
  width: 100%;
  z-index: -1;
}

.splash-fluid-wrapper {
  position: relative;
  height: 35vh;
}

.splash-fluid-wrapper-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

@include breakpoint ($display-medium) {
  h2.pane-title {
    padding: 0px;
  }

  .site-name {
    display: block;
    clear: left;
  }
}

@include breakpoint ($display-large) {
  header {
    position: relative;
  }

  header[role="banner"] {
    padding: 0;
  }

  header[role="banner"] > div {
    max-height: 100%;
    background-color: transparent;
    background-image: none;
    border:none;
    box-sizing:none;
    margin: 0;
  }

  .site-banner {
    z-index: -2;
    img {
      height:345px;
    }
  }

  .western-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    float: none;
    height: 60px;
    margin: 0;
    box-sizing: content-box;
    background: rgba(255,255,255,0.8);
    border-bottom: 6px solid #0083D6;

    .western-logo {
      display: block;
      float: left;
      margin-left: 0px;
      margin-right: 10px;
      position:relative;
      width: auto;
      height: auto;

      a {
        background-image: url('../images/wwu.png');
        position: static;
        display: block;
        margin: 0;
        padding: 0;
      }
    }

    nav {
      position: absolute;
      display: inline-block;
      width: auto;
      top: 0;
      right: 0;
      margin-right: 10px;
    }

    .western-quick-links,
    .western-search {
      display: block;
      float: left;
      position: static;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
    }

    .western-quick-links ul {
      margin-right: 1em;
    }

    .western-quick-links ul li a,
    .western-quick-links ul li a:before {
      line-height: 60px;
    }

    .western-search > button {
      top: unset;
      margin-top: 16px;
    }

    .western-search .western-search-widget {
      top: 100%;
    }
  }

  section.western-header, .site-header {
    .site-name {
      max-width: 30%;
      position: absolute;
      right: -7px;
      line-height: 1.2em;
      background-color: transparentize($wwuBlue, .3);
      padding: 1%;

      a {
        color: white;

        &:focus, &:hover {
          color: $wwuLime;
          text-decoration: none;
        }
      }
    }
  }

  .site-header > .site-name {
    top: auto;
  }

  section.western-header {
    .site-name {
      top: 180px;
    }
  }
}
