#main-menu {
  box-sizing: content-box;
}

.menu-wrap {
  border-width: 7px;
}

.main-nav {
  background-color: #fff;
  border-color: #fff;
  border-width: 7px;
  border-style: solid;
}

.main-nav div div .menu {
  position: relative;

  li {
    height: 4em;
    max-width: 8em;
    padding: 0;
    margin: 0;
    border: none;
    border-right: 7px solid #fff;
    background-color: $wwuLtblue;
    vertical-align: middle;
    overflow: hidden;
  }

  li:hover,
  li:focus-within {
    background-color: $wwuBlue;
  }

  li:hover a,
  li:focus a {
    background: transparent;
    color: $wwuLime;
  }

  li a {
    background: transparent;
    color: #fff;
    line-height: 1.25;
    padding: 0.75em 0.5em;
    word-wrap: normal;
  }

  li > a:focus {
    color: $wwuLime;
  }

  li ul {
    position: absolute;
    left: -7px;
    top: 4em;
    width: 100%;
    height: 6.5em;
    padding: 0;
    margin: 0;
    border: none;
    border: 7px solid #fff;
    border-top: none;
  }

  li li {
    width: 25%;
    height: auto;
    max-width: none;
    float: left;
    border: none;
  }

  li li a {
    display: block;
    text-transform: none;
    white-space: nowrap;
    overflow: hidden;
    padding: 1em 0;
  }

  li li a:hover,
  li li a:focus {
    background-color: #406FA5;
    color: $wwuYellow;
  }

  li.opened {
    background-color: $wwuYellow;
  }

  li.active-trail {
    background-color: $wwuYellow;
  }

  li.active-trail:hover,
  li.active-trail:focus {
    background-color: $wwuYellow;
  }

  li.active-trail a {
    background: transparent;
    color: $wwuBlue;

    &:hover {
      text-decoration: underline;
    }
  }

  li.active-trail li a {
    color: #fff;
  }

  li.active-trail li a:hover,
  li.active-trail li a:focus,
  li.active-trail .active a:hover,
  li.active-trail .active a:focus {
    background-color: #406FA5;
    color: $wwuYellow;
  }

  li.active,
  li.active:hover,
  li.active:focus {
    background-color: $wwuYellow;
  }

  li.active-trail .active {
    background: $wwuYellow;
    color: $wwuBlue;
  }

  li.active-trail .active a {
    background: transparent;
    color: $wwuYellow;
  }

}

// Make the page sit below the menu with no space
main {
  margin-bottom: 4.25em;
}
