.field-name-field-call-to-action {
  .field-items {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: space-around;
    font-size: 2em;

    .field-item {
      width: 400px;
      max-width: 95%;
      margin: 0 auto .5em;

      a {
        display: block;
        background: $wwuYellow;
        color: $wwuBlue;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 4em;
        transition: .2s ease;
        &:hover,
        &:focus {
          background: $wwuOceanBlue;
          color: white;
        }
      }
    }
  }
}
