.field-name-field-icon-link {
    li {
      margin: $vertical-spacing;
      list-style: none;
      display: block;
      text-align: center;
    }

    img {
      display: block;
      max-width: 200px;
      max-height: 200px;
      margin: 0 auto;
    }

    .field-name-field-title {
      font-size: 1.5em;
    }
  }

@include breakpoint ($display-large) {
  $zen-column-count: 12;

  .field-name-field-icon-link {
     @include zen-grid-item($zen-column-count - 2, 2);
     @include zen-nested-container();

     li {
       margin: 0;
       list-style: none;
       display: inline-block;
       text-align: center;
     }

     li:nth-child(1) {
       @include zen-grid-item($zen-column-count/3, 1);
     }

     li:nth-child(2) {
       @include zen-grid-item($zen-column-count/3, 5);
     }

     li:nth-child(3) {
       @include zen-grid-item($zen-column-count/3, 9);
     }

     img {
       display: block;
       max-width: 200px;
       max-height: 200px;
       margin: 0 auto;
     }

     .field-name-field-title {
       font-size: 1.5em;
     }
   }
}
