/**** PANEL CUSTOM STYLES ****/
//Panel's CSS ID in drupal must match those defined here
//They can be updated in Home >> Administration >> Structure >> Pages >> Variants >> Panel >> Content
  // (or just click Settings Cog > Edit Panel)
//Then click on settings cog for the highlight section, and 'CSS Properties'
#request-services {
  margin-top: -20px;
  margin-bottom: 20px;
}

#voice-services {
  color: #fff;
  h2 {
    color: $wwuYellow;
  }
  a {
    color: #fff;
    padding: 3px;

    &:focus, &:hover {
      background-color: white;
      color: $wwuBlue;
      border-radius: 5px;
    }
  }
  background-color: $wwuBlue;
  background-image: url('/files/blue-bg-1.jpg');
  background-size: cover;
}

#information-security {
  color: #fff;
  a {
    color: #fff;
    padding: 3px;

    &:focus, &:hover {
      background-color: white;
      color: #33659f;
      border-radius: 5px;
    }
  }
  h2 {
    color: #fff;
  }
  background-color: #33659f;
}

#identity {
  h2 {
    color: $wwuBlue;
  }

  a {
    color: $wwuBlue;
    padding: 3px;

    &:focus, &:hover {
      background-color: white;
      border-radius: 5px;
      box-shadow: none;
    }
  }
  background-color: $wwuYellow;
  background-image: url('/files/yellow-bg.jpg');
}

#hosting-services {
  color: #fff;
  a {
    color: #fff;
    padding: 3px;

    &:focus, &:hover {
      background-color: white;
      color: $wwuOceanBlue;
      border-radius: 5px;
    }
  }

  h2 {
    color: #fff;
  }
  background-color: $wwuOceanBlue;
  background-image: url('/files/blue-bg-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#connectivity {
  color: #fff;
  h2 {
    color: $wwuYellow;
  }
  a {
    color: #fff;
    padding: 3px;

    &:focus, &:hover {
      background-color: white;
      color: $wwuBlue;
      border-radius: 5px;
    }
  }

  background-color: $wwuBlue;
  background-image: url('/files/blue-bg-3.jpg');
}

#director-message {
  h2 {
    text-align: left;
    width: inherit;
    max-width: 1080px;
    margin: auto;
    border-bottom: 3px solid $wwuYellow;
    padding: 0 1.5em;
  }

  p {
    text-indent: 1em;
  }
  background-color: $ltGrey;

  @include breakpoint($display-large) {
    h2 {
      width: 1080px;
      padding: 0px;
      text-align: center;
    }
  }
}
