body {
  background-color: #fff;

  a:hover {
    text-decoration: none;
  }

  @include breakpoint($display-large) {
    border-top:none;
  }
}

h2 {
  font-size:1.5em;
}

.main-nav div div .menu {
  li > a:focus {
    border: 0;
    outline: none;
  }
}
