@import url(https://fonts.googleapis.com/css?family=Muli:300);

$muli: Muli, Tahoma, Verdana, "DejaVu Sans", sans-serif;

$font-family-serif: Georgia, "Times New Roman", "DejaVu Serif", serif;
$font-family-sans-serif: $muli;
